* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

@font-face {
    font-family:franklin  ;
    src: url(./fonts/LibreFranklin-VariableFont_wght.ttf);
}
@font-face {
    font-family: boldfranklin;
    src: url(./fonts/LibreFranklin-Bold.ttf);
}

body {
    max-width: 1440px;
    font-family: franklin;
    overflow-x: hidden;
}


section {
    position: relative;
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#message {
    margin: 30px 0 0 0 ;
    font-size: 35px;
    font-weight: 300;
    color:  hsl(0, 0%, 59%);
}

#message em {
    font-style: normal;
    color: hsl(209, 33%, 12%);
    font-family: boldfranklin;
    font-weight: 600;
    
}

#submessage {
    margin: 10px 0 40px 0;
    color: hsl(209, 33%, 12%);
    font-family:franklin;
    font-weight: 400;
}



.email {
    position: relative;
    display:block;
    align-items: center;
    justify-content: center;
}

input {
    width: 340px;
    height: 45px;
    margin-right: 20px;
    border: 1px solid  hsl(223, 100%, 88%);
    border-radius: 60px;
    padding: 20px;
    color: hsl(0, 0%, 59%);
    font-family: franklin;
}

input:focus {
    outline: 0;
}

.error {
    display: block;
    color: hsl(354, 100%, 66%);
    font-family: franklin;
    font-size: 20px;
    margin-left: 0px;
    
}

.email.error input {
    border: 1px solid hsl(354, 100%, 66%);
}

.email.success input {
    border: 1px solid hsl(223, 87%, 63%);
}

button {
    width: 160px;
    height: 45px;
    border-radius: 60px;
    background:  hsl(223, 87%, 63%);
    color: hsl(0, 0%, 100%);
    font-family: franklin;
    letter-spacing: 1px;
    border: 0;
}

#illustration {
    margin-top: 100px;
    width: 500px;
    height: 300px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

i {
    color: hsl(223, 87%, 63%);
    border: 1px solid hsl(223, 87%, 63%);
    padding: 10px;
    border-radius: 50px;
}

i:nth-of-type(1) {
    padding: 10px;
    width: 40px;
    height: 40px;
}

i:not(:last-child) {
    margin-right: 20px;
}

#copyright {
    margin-top: 30px;
    font-family: franklin;
    font-weight: 200;
    color: hsl(0, 0%, 59%);
}


footer {
    margin-top: 20px;
    text-align: center;
}


@media (max-width:375px) {
    
    #logo {
        margin-left: 0px;
    }

    #message {
        margin-left: 0px;
        font-size: 25px;
    }
    
    #message em {
        font-style: normal;
        color: hsl(209, 33%, 12%);
        font-family: boldfranklin;
        font-weight: 600;  
    }
    
    #submessage {
        margin-left: 0px;
    }

    .email {
        display:inline;
        left: 0px;
    }

    
    
    input {
        width: 300px;
        height: 45px;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    

    button {
        width: 300px;
        height: 45px;
        border-radius: 60px;
        background:  hsl(223, 87%, 63%);
        color: hsl(0, 0%, 100%);
        border: 0;
    }
    
    #illustration {
        margin-top: 100px;
        width: 350px;
        height: 250px;
        margin-left: 0px;
    }
    
    
    #copyright {
        margin-top: 20px;
        margin-left: 0px;
    }
    
    footer {
        margin-top: 50px;
        margin-left: 0px;
        font-size: 12px;
    }
}